# dependencies
node_modules/
.pnp
.pnp.js

# builds
.next/
out/
dist/
build/
*.tsbuildinfo

# env
.env
.env*.local
.env.production

# tests
coverage/

# logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# editors / os
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
*.swp

# hosting
.vercel

# prisma
prisma/*.db
prisma/*.db-journal
